@import '../../../_variables';

.pzv-alert {
    width: 50%;
    position: absolute;
    top: 85px;
    left: 50%;
    margin-left: -210px;
    padding: 15px;
    color: $white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background-color: $mineShaft;
    box-shadow: 1px 2px 5px $mineShaft;
    border-radius: 3px;
    border: 1px solid $mineShaft;
    transition: all 2s linear;
    .fa-exclamation-triangle {
        color: $orangePeel;
    }
    .fa-check {
        color: $greenYellow;
    }
    .alert-message {
        margin-left: 10px;
    }
}

@media (max-width: 680px) {
    .pzv-alert {
        position: absolute;
        left: 50%;
        margin-left: -25%;
    }
}
@media (min-width: 1024px) {
    .pzv-alert {
        width: 420px;
    }
}
