/*****************************************************************
* Proprietary & Confidential | © 2017 PhaseZero Ventures LLC *
* This is part of PhaseZero Ventures LLC and cannot be copied, *
* modified and/or distributed without the express permission of *
* PhaseZero Ventures LLC *
*****************************************************************/
/**
* @author: Kshitiz Dublish
*/

// color code
$black                                   : #000;
$mineShaft                               : #282828;
$white                                   : #fff;
$gallery                                 : #eee;
$alto                                    : #ddd;
$darkGrey                                : #a9a9a9;
$danube                                  : #67a6ca;
$curiousBlue                             : #2d92c9;
$pictonBlue                              : #3da7e3;
$orangePeel                              : #ff9d02;
$red                                     : #ff0000;
$greenYellow                             : #adff2f;

// font-weight
$normal                                  : normal;
$bold                                    : bold;